.cajon{
    display: flex;
    width: 364px;
    justify-content: space-between;
    align-items: center;
}
.Titu{
    color: var(--platform-aliases-texto-base, #C4C4CC);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
}
.Num{
    color: var(--platform-aliases-texto-base, #C4C4CC);
    text-align: center;
/* Text sm */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}